@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Comic+Neue:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

li, a {
    font-family: 'Cabin', sans-serif;;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 03; 
}

.nav_links li a:hover{
    color: cyan;
}

.mainheader {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 75px;
    color: #edf0f1;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
    width: 450px;
}

.description {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #edf0f1;
    padding-top: 50px;
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 50px;
}

.biography {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: cyan;
    padding-top: 50px;
    text-align: center;
}

.move-to-center{
    text-align: center;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
    width: 450px;
    border-radius: 10%;
}

.project-name {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: cyan;
    padding-top: 50px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px;
}

.project-name:hover {
    color: dodgerblue;
}